/* Export popup container  */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
  opacity: 1; 
  transition: opacity 0.3;
}

.download-button{
  background-color: transparent;
  border: none;
  border-radius: 4px;
}

.download-text{
  margin: 0;
  font-family: Amiri;
  color:#ffffff; 
  font-size: 14px;
  cursor: pointer; 
}


/* Actual export button & text (from main-page.html) */
.export-button{
  width: 68px;
  background-color: transparent;
  margin-top: 8px;
  border: none;
}

.export-icon{
  margin:0;
  height:28px;
}

.export-text{
  margin: 0;
  margin-top: -6px;
  font-family: Amiri;
  color:#817F7F; 
  font-size: 14px;
}

.export-button:hover{
  cursor:pointer;
  opacity: 0.8; 
}

.export-button:active{
  opacity: 0.6;
}
