body {
    background-color: #121212;
    font-family: 'Manrope';
    font-optical-sizing: auto;
    font-size: normal;
    padding-top: 40px;
    display: flex;
    justify-content: center;
    overflow-y: hidden;
}
.container {
    margin: auto;
    height: 500px;
    width: 700px;
}
.sub {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: relative;
    margin: 0;
}
.chat-bot-input {
    display: flex;
    align-items: center;
    justify-content: center;
}
.chat-bot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.chat-bot > p {
    color: white;
    font-size: 24px;
}
.main-input {
    border: none;
    background-color: #5c5c5c5c;
    padding: 10px 20px 10px 20px;
    outline: none;
    width: 400px;
    color: white;
    font-size: 14px;
    border-radius: 20px;
}
.wrapper button {
    background-color: transparent;
    border-radius: 20x;
    height: 100%;
    aspect-ratio: 1;
    outline: none;
    border: none;

    position: absolute;
    right: 0;
}
.wrapper button:hover {
    cursor: pointer;
}
.wrapper {
    height: 100%;
    width: 100%;
    position: relative;
}
.icon {
    height: 20px;
    width: 20px;
    object-fit: contain;
    object-position: center;
}
.hidden {
    display: none !important
}

.chat-window {
    margin: 0;
    padding: 20px 10px 20px 10px;
    height: 100%;
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    row-gap: 20px;
}
.messages {
    flex: 1;
    display: flex;
    height: 100%;
    overflow-y: auto;
    flex-direction: column;
    row-gap: 20px;
    padding: 0;
    margin: 0;
    width: 600px;
    
}
.message {
    background-color: #5c5c5c5c;
    max-width: 75%;
    padding: 5px 5px 5px 5px;
}
.message.user {
    align-self: flex-end;
    color: white;
}
.message.system {
    align-self: flex-start;
    color: grey;
}
.chat-bot-input2 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
    
}
.chat-box-input2 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-input2 {
    border: none;
    background-color: #5c5c5c5c;
    padding: 10px 20px 10px 20px;
    outline: none;
    width: 600px;
    font-size: 14px;
    border-radius: 20px;
    color: white;
}
.wrapper2 button {
    background-color: transparent;
    border-radius: 20x;
    height: 100%;
    aspect-ratio: 1;
    outline: none;
    border: none;

    position: absolute;
    right: 0;
}
.wrapper2 button:hover {
    cursor: pointer;
}
.wrapper2 {
    height: 100%;
    width: 100%;
    position: relative;
}
.icon {
    height: 20px;
    width: 20px;
    object-fit: contain;
    object-position: center;
}

.addHeight {
    height: 800px;
}