.left-section{
  
  width: 72px;
  display: flex;
  flex-direction: column;
  border-right-style: solid;
  align-items: center;
  border-right-color: #E1DEDE;
  border-right-width: 3px;
  position: fixed;
  top:0;
  bottom:0;
  padding-top:70px;
  background-color: white;
  z-index: 40;
}

.settings-button{
  width: 70px;
  background-color: transparent;
  margin-top: 12px;
  border: none;
  margin-bottom:4px;
  
}
.settings-menu {
  display: none;   /* hide whole menu */
}
.darkmode-button{
  width: 70px;
  background-color: transparent;
  margin-top: 12px;
  border: none;
  margin-bottom:4px;
  color: black;
  font-size: 12px; 
  cursor: pointer;
}
.darkmode-button:hover {
  background-color: #e5e5e5;
}

.settings-icon{
  margin:0;
  height:34px;
  margin-left:2px;
}

.settings-text{
  margin: 0;
  margin-top: -10px;
  font-family: Amiri;
  color:#817F7F; 
  font-size: 14px;
}


.settings-button:hover{
  cursor:pointer
}

.export-button{
  width: 68px;
  background-color: transparent;
  margin-top: 8px;
  border: none;
}

.export-icon{
  margin:0;
  height:28px;
  
}

.export-text{
  margin: 0;
  margin-top: -6px;
  font-family: Amiri;
  color:#817F7F; 
  font-size: 14px;
}



.export-button:hover{
  cursor:pointer
}

.sign-out-button{
  width: 72px;
  background-color: transparent;
  border: none;
  position: absolute;
  bottom:8px;
  left:0;
}

.sign-out-icon{
  margin:0;
  height:28px;
  margin-top:auto;
}

.sign-out-text{
   margin: 0;
  margin-top: -6px;
  font-family: Amiri;
  color:#817F7F; 
  font-size: 14px;
}


.sign-out-button:hover{
  cursor:pointer
}

.sign-out-button:hover p{
  text-decoration: underline;
}

.settings-button:hover p{
  text-decoration: underline;
}

.export-button:hover p{
  text-decoration: underline;
}
