.header{
  display: flex;
  background-color: #BF311A;
  height:70px;
  flex-direction: row;
  align-items: center;
 
}

.logo{
  display: flex;
  align-items:center;
}
.cardinal-calendar-logo{
  height: 54px;
  display: flex;
  margin-left:8px;
}

.cardinal-calendar-text{
  margin:0;
  margin-top:22px;
  margin-left:2px;
  color:white;
  display:flex;
  font-family: Amiri;
  font-size: 28px;
}