.main-body{
  display: flex;
  flex-direction: row;
  min-width:500px;
}

/* Dark mode styles */
body.dark-mode {
    background-color: #121212;
    color: white;
}
body.dark-mode .header {
    background-color: #BF311A;
    color: #ffffff;
}
body.dark-mode .left-section {
    background-color: #1a1a1a;
    color: #ffffff;
}
body.dark-mode .middle-section{
    background-color: #1a1a1a;
    color: #ffffff;
}
body.dark-mode .hour-block {
    background-color: #1a1a1a;
    color: #ffffff;}
body.dark-mode .time-div {
    background-color: #1a1a1a;
    color: #ffffff;}
body.dark-mode .time-div p{
    background-color: #1a1a1a;
    color: #ffffff;}
body.dark-mode .day-div {
    background-color: #1a1a1a;
    color: #ffffff;}
body.dark-mode .day-text{
    background-color: #1a1a1a;
    color: #ffffff;}
body.dark-mode .day-text-div{
    background-color: #1a1a1a;
    color: #ffffff;}
body.dark-mode .calendar-scroll-wrapper {
    background-color: #1a1a1a;
    color: #ffffff;
}
body.dark-mode .calendar-div {
    background-color: #1a1a1a;
    color: #ffffff;
}

body.dark-mode .right-section {
    background-color: #1a1a1a;
    color: #ffffff;
}
body.dark-mode .main-body {
    background-color: #1a1a1a;
    color: #ffffff;
}
body.dark-mode .courses{
    background-color: #1a1a1a;
    color: #ffffff;
}
body.dark-mode .toolbar {
    background-color: #1a1a1a;
    color: #ffffff;
}
body.dark-mode .darkmode-button {
    background-color: #1a1a1a;
    color: #ffffff;
}
body.dark-mode .top-section {
    background-color: #1a1a1a;
    color: #ffffff;
}
body.dark-mode .block{
    background-color: #1a1a1a;
    color: #ffffff;
}
body.dark-mode .style {
    background-color: #1a1a1a;
    color: #ffffff;}

body.dark-mode .create-calendar-icon {
    filter: invert(100%) brightness(200%);
}
body.dark-mode .edit-calendar-icon {
    filter: invert(100%) brightness(200%);
}

