.middle-section{
  display: flex;
  flex-direction: column;
  flex: 1;
}

.calendar-div{
  display: flex;
  flex-direction: row;
  margin-top:4px;
}

.time-div{
  font-family: Amiri;
  color:#817F7F; 
  font-size: 14px;
  margin-top:40px;
  margin-left:18px;
  margin-right: 10px;
  text-align: right;

}

.time-div p{
  margin-bottom: 80px;
}

.day-div{
  flex:1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: Amiri;
  color:#817F7F; 
  font-size: 14px;
}

.day-text{
  margin-bottom: 28px;
}

.hour-block{
  border-top-style: solid;
  border-top-color: #E1DEDE;
  border-top-width:1px;
  height:110px;
  width:100%;
  
}



