.calendar-selector{
  height:20px;
  width:120px;
  border-radius: 4px;
  border-style: solid;
  border-width: 2px;
  border-color: #E1DEDE;
  margin-left: 10px;
  margin-top: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.calendar-name{
  margin: 0;
  font-size: 12px;
  margin-top:2px;
  margin-left: 8px;
  margin-bottom: 2px;
}

.calendar-dropdown-button{
  width: 18px;
  height:12px;
  margin: 0;
  margin-right: 8px;
  background-color: white;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top:2px;

}

.calendar-dropdown-button-icon{
  height: 6px;
}

.calendar-dropdown-button:hover{
  cursor: pointer;
}

