:root {
  --class-div-position:  965px;
  --class-div-height: 145px;
  --class-div-color: #FB8484;
}


.middle-section{
  display: flex;
  flex-direction: column;
  flex: 1;
}

.calendar-scroll-wrapper{
  position: fixed;
  top:100px;
  left:68px;
  right:503px;
  bottom:0;
  overflow-y: scroll;
  overflow-x: hidden;

}



.calendar-div{
  display: flex;
  flex-direction: row;
  margin-top:4px;
  
}

.time-div{
  font-family: 'Amiri';
  color:#817F7F; 
  font-size: 14px;
  margin-top:50px;
  margin-left:12px;
  margin-right: 6px;
  text-align: right;

}

.time-div p{
  margin-bottom: 86px;
  margin-top:0;
}

.day-div{
  flex:1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: 'Amiri';
  color:#817F7F; 
  font-size: 14px;
  position: relative;
}

.class-div{
  display: flex;
  flex-direction: column;
  width: 60%;
  background-color: var(--class-div-color);
  border-radius: 8px;
  height: var(--class-div-height);
  position: absolute;
  z-index: 100;
  text-align: left;
  top: var(--class-div-position);
  padding-top: 8px;
  padding-left: 8px;
  z-index:10;
  row-gap: 4px;
}

.class-div p{
 margin:0;
 line-height: 16px;
}

.class-ID{
  font-family: Amiri;
  color: rgb(0, 0, 0);
  font-weight: 600;
  font-size: 22px;
}

.class-time{
  font-family: Amiri;
  color:#ffffff;
  font-size: 16px; 
  color: grey;
}

.class-location{
  font-family: Amiri;
  color:#ffffff; 
  font-size: 16px;
  color: grey;
  
}





.day-text{
  margin-bottom: 28px;
}

.day-text-div{
  width: 100%;
  background-color: white;
  position:sticky;
  top:0px;
  background-color: white;
  z-index:12;
}

.hour-block{
  border-top-style: solid;
  border-top-color: #E1DEDE;
  border-top-width:1px;
  height:110px;
  width:100%;
  
}



