.middle-section{
  display: flex;
  flex-direction: column;
  flex: 1;
}

.calendar-div{
  display: flex;
  flex-direction: row;
  margin-top:4px;
}

.time-div{
  font-family: Amiri;
  color:#817F7F; 
  font-size: 14px;
  margin-top:50px;
  margin-left:12px;
  margin-right: 6px;
  text-align: right;

}

.time-div p{
  margin-bottom: 86px;
  margin-top:0;
}

.day-div{
  flex:1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: Amiri;
  color:#817F7F; 
  font-size: 14px;
  position: relative;
}

.class-div{
  display: flex;
  flex-direction: column;
  width: 60%;
  background-color: #FB8484;
  border-radius: 8px;
  height: 100px;
  position: absolute;
  z-index: 100;
  text-align: left;
  top:100px;
  padding-top: 8px;
  padding-left: 8px;
}

.class-div p{
 margin:0;
 font-size:12px;
 line-height: 16px;
}

.class-ID{
  font-family: Amiri;
  color: black;
  font-weight: 600;
  
  
}

.class-time{
  font-family: Amiri;
  color:#817F7F; 
}

.class-location{
  font-family: Amiri;
  color:#817F7F; 
  
}





.day-text{
  margin-bottom: 28px;
}

.day-text-div{
  width: 100%;
  background-color: white;
}

.hour-block{
  border-top-style: solid;
  border-top-color: #E1DEDE;
  border-top-width:1px;
  height:110px;
  width:100%;
  
}



