.right-section{
  height: 100vh;
  width: 500px;
  border-left-style: solid;
  border-left-color: #E1DEDE;
  border-left-width: 3px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow-x: hidden;
}



.chat-text-box{
  margin-left:32px;
  margin-right:32px;
  margin-bottom:18px;
  font-size: 14px;
  height:30px;
  border-radius: 20px;
  border-style: solid;
  padding-right:10px;
  padding-left:18px;
  border-width: 2px;
  background-color: #F8F8F8;
}



/* message chat field */

.messages {
  padding-top: 100px;
  height: 88%;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  overflow-y: auto;
}

.message {
  padding: 8px 16px 8px 16px;
  width: fit-content;
  border: none;
  margin-top: 20px;
  max-width: 70%;
  line-height: 18px;
}

.ai {
  align-self: flex-start;
  background-color: #BF311A;
  color: white;
  margin-left: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.user {
  align-self: flex-end;
  background-color: #efefef;
  color: black;
  margin-right: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}






