.right-section{
  height: 100vh;
  width: 500px;
  border-left-style: solid;
  border-left-color: #E1DEDE;
  border-left-width: 3px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}



.chat-text-box{
  margin-left:32px;
  margin-right:32px;
  margin-bottom:18px;
  font-size: 14px;
  height:30px;
  border-radius: 20px;
  border-style: solid;
  padding-right:10px;
  padding-left:18px;
  border-width: 2px;
  background-color: #F8F8F8;
}

.chat-form{
  

}
.user-text-div{
  display: flex;
  border:none;
  background-color: #D9D9D9;
  color: black;
  margin-left:250px;
  border-radius: 15px;
  margin-right:35px;
  padding-left: 14px;
  font-size: 12px;
  margin-bottom: 20px;
}

.ai-text-div{
  display: flex;
  border:none;
  background-color: #770000;
  color: white;
  margin-left:35px;
  border-radius: 15px;
  margin-right:250px;
  padding-left: 14px;
  font-size: 12px;
  margin-bottom: 20px;
}






