.right-section{
  height: 100vh;
  width: 500px;
  border-left-style: solid;
  border-left-color: #E1DEDE;
  border-left-width: 3px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.messages{
  flex:1;
  overflow-y: auto;

}

.chat-text-box{
  margin-left:32px;
  margin-right:32px;
  margin-bottom:18px;
  font-size: 14px;
  height:30px;
  border-radius: 20px;
  border-style: solid;
  padding-right:10px;
  padding-left:18px;
  border-width: 2px;
  background-color: #F8F8F8;
}



