.top-section{
  position: fixed;
  top:70px;
  left:80px;
  z-index: 10000;
  background-color: white;

}



.toolbar{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
}

.calendar-selector{
  height:20px;
  width:120px;
  border-radius: 4px;
  border-style: solid;
  border-width: 2px;
  border-color: #E1DEDE;
  margin-left: 9px;
  margin-top: 6px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.calendar-name{
  margin: 0;
  font-size: 12px;
  margin-top:2px;
  margin-left: 8px;
  margin-bottom: 2px;
}

.calendar-dropdown-button{
  width: 18px;
  height:12px;
  margin: 0;
  margin-right: 8px;
  background-color: white;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top:2px;
  
}

.calendar-dropdown-button-icon{
  height: 6px;
}

.calendar-dropdown-button:hover{
  cursor: pointer;
}

.create-calendar-button,.edit-calendar-button,.delete-calendar-button{
  background-color: transparent;
  margin-top:12px;
  margin-left:8px;
  border: none;
  position: relative
}


.create-calendar-button{
  margin-left:14px;
  padding:0px;
  height:20px;
}

.create-calendar-icon{
  margin-top:4px;
  height:12px
}

.edit-calendar-button,.delete-calendar-button{
  height: 20px;
  padding:0px;
}

.edit-calendar-icon{
  height: 13px;
  margin-top:3px;
}


.delete-calendar-icon{
  margin-top:3px;
}

button:hover{
  cursor: pointer;

}

button .tooltip{
  opacity: 0;
  transition: opacity 0.3s;
  position: absolute;
  bottom: -28px;
  left: -13px;
  background-color: grey;
  color:white;
  padding: 2px 4px;
  border-radius: 2px;
  font-size: 10px;
  white-space: nowrap;
  font-family: Arial;
  font-weight: 600;
}
.edit-calendar-button .tooltip{
  left:-16px;
}

button:hover .tooltip{
  opacity: 0.8;
}

.block{
  position: fixed;
  width:34px;
  height:50px;
  background-color: white;
  z-index: 1000;
}